@*
*@
@{
}

<div class="about-section">
    <h1>About us</h1>

    <p>
        Tudo surgiu com um sonho, um sonho de transformas a mobilidade e a vida nas cidades mais sustentável, incentivando o esporte e 
        atividadde física. Somos uma start up que dicidiu inovar e fazer com que a vida do ciclista se tornasse mais fácil e segura.
    </p>
</div>