@model Usuario
@{
    ViewData["Title"] = "Cadastro";
}

@if (Model != null)
{
    <p>@ViewData["msg"]</p>
    <p>
        @Model?.Nome
    </p>
}
else
{
    <p>Preencha o formulário</p>
}

<h1>@ViewData["Title"]</h1>
<form asp-action="Index">

    <partial name="_FormCadastroUsuario" />

    <churros texto="Cadastrar"></churros>
</form>